[submodule "panda"]
	path = panda
	url = https://github.com/VivicatcHub/corewar-learning-panda
[submodule "icarus"]
	path = icarus
	url = https://github.com/VivicatcHub/corewar-learning-icarus
[submodule "apollon"]
	path = apollon
	url = https://github.com/VivicatcHub/corewar-learning-apollon
[submodule "expension"]
	path = expension
	url = https://github.com/VivicatcHub/corewar-learning-expension
[submodule "mandom"]
	path = mandom
	url = https://github.com/VivicatcHub/corewar-learning-mandom
[submodule "migi"]
	path = migi
	url = https://github.com/VivicatcHub/corewar-learning-migi
[submodule "hypnobrai"]
	path = hypnobrai
	url = https://github.com/VivicatcHub/corewar-learning-hypnobrai
[submodule "littleboy"]
	path = littleboy
	url = https://github.com/VivicatcHub/corewar-learning-littleboy
